{% extends "base.html" %}

{% block content %}

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>

    
   <div class="hero">
            <img class="initialImage" src="{{ url_for('static', filename='img/lettersWhite.png') }}">
            <!-- <h2>Find the best climbing gym for your needs</h2> -->

    </div>

        

    <div class="flex-container">
        {% for gym in gyms%}
            <div class="gymArea">
                <div class=gym onclick="openPopup('{{ gym.organization }}', '{{ gym.name }}', '{{ gym.price }}', '{{ gym.schedule }}', '{{ gym.types }}', '{{gym.website}}')">
                    <h4>{{ gym.organization }} </h4>
                    <p> {{ gym.name }}</p>
                </div>
            </div>
        {% endfor %}
        </div>

        
        

    <script>
        let differentGyms = document.getElementsByClassName("gym");
    </script>

{% include '_overlay.html' %}




    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script src="http://ajax.googleapis.csom/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        // navigation click actions 
        $('.scroll-link').on('click', function(event){
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop:0}, 'slow');         
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });
    // scroll function
    function scrollToID(id, speed){
        var offSet = 50;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({scrollTop:targetOffset}, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }
    if (typeof console === "undefined") {
        console = {
            log: function() { }
        };
    }
    </script>>>

{% endblock %}